<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.theboss.jackli.tripbuddy">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:largeHeap="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".splashes.OnboardingWithCenterAnimationActivity"
            android:theme="@style/AppTheme.CenterAnimation">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".splashes.OnboardingWithPlaceholderActivity"
            android:theme="@style/AppTheme.CenterAnimation" />
        <activity
            android:name=".ChooseTravelerActivity"
            android:theme="@style/AppTheme.CenterAnimation" />
        <activity
            android:name=".MaterialViewPagerActivity"
            android:label="@string/title_activity_material_view_pager"
            android:theme="@style/AppTheme" />

    </application>


</manifest>
